.seller-login-wrap{padding:0px;display:flex; flex-direction:column; height:100vh;overflow:hidden;}
.seller-login-header{  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    background-color:#fff;display:flex;align-items:center;justify-content:space-between;padding:30px 65px}
.seller-logo{height:40px}
.seller-login-actions{display:flex;gap:12px;align-items:center}
.seller-login-text{color:#6b7280;font-size:14px}
.seller-btn{border:none;background:#e5e7eb;color:#111827;border-radius:6px;padding:10px 16px;cursor:pointer}
.seller-btn.primary{background:#4f83f1;color:#fff}
.seller-btn.outline{background:#fff;border:1px solid #e5e7eb}
.seller-login-content{display:flex;gap:32px;align-items:stretch;background-color:#fff}
.seller-login-left{flex:1;max-width:540px;padding:90px}
.seller-welcome{color:#6b7280;margin-bottom:8px}
.seller-title{margin:0 0 16px 0;font-size: 26px;color:#070707}
.seller-field-label{font-size:14px;color:#374151;margin-bottom:8px}
.seller-form{display:flex;flex-direction:column;gap:12px}
.seller-input{height:44px;border:1px solid #d1d5db;border-radius:6px;padding:0 12px;font-size:16px}
.seller-login-right{flex:1;display:flex;justify-content:flex-end;align-items:center;}
.seller-illustration{background-color: #f0f2f5; max-width:760px;height:630px;width:100%;border-radius:0px;box-shadow:0 6px 20px rgba(0,0,0,0.1), 
    inset 0 6px 20px rgba(0, 0, 0, 0.15);object-fit:contain}
.seller-login-footer-art {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    border-radius: 0;
  
    background: url("https://setu.snapdeal.com/_next/image?url=%2Fassets%2Fimages%2Fbike.png&w=3840&q=75") no-repeat;
    background-size: contain;
    /* pushes bike UP without gap */
  }
  
